<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

                <!-- Site Title, your name, HELLO msg, etc. -->
                <h1 class="title">Angular 2</h1>
                <h2 class="subtitle">Demo</h2>

                <!-- Short introductory (optional) -->
                <h3 class="tagline">
                    Do you want to build and Angular 2 chat ?<br>
                    Here we go !
                </h3>

            </div> <!-- /col -->
        </div> <!-- /row -->

    </div>
</section>