@import '../../../styles/variables';

.section {
  color: white;
  h1, h2, h3 {
    color: rgba(255, 255, 255, .8);
  }
  .row{
    padding-top:10%;
  }
  .title,
  .subtitle {
    font-family: 'Wire One', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 7em;
    margin-bottom: 15px;
    color: #FDF9F4;
    line-height: 1em;
  }

  .subtitle {
    line-height: .9em;
    font-size: 5.5em;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .tagline {
    font-size: 1.4em;
    line-height: 1.3em;
    font-weight: normal;
    margin-bottom: 75px;
  }
}