@import "../../../styles/variables";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @include font;
  background-size: cover;
}

.wrapper {
  position: relative;
  left: 50%;
  width: $wrapper;
  height: 800px;
  transform: translate(-50%, 0);

  .container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 75%;
    background-color: $white;
    padding-left: 0;
    transform: translate(-50%, -50%);
    .left {
      float: left;
      width: 37.6%;
      height: 100%;
      border: 1px solid $light;
      background-color: $white;
    }
    .right {
      position: relative;
      float: left;
      width: 62.4%;
      height: 100%;
    }
  }
}